/*.row{*/
    /*margin-right: initial!important;*/
    /*margin-left: initial!important;*/
/*}*/
div.col-md-6.row{
    margin: -1px!important;
}
#dw-countdown-widget-container{
    left:0;
    display: initial!important;
    bottom: 0px;
}
#ticker-wrapper{
    height: 0px!important;
}

@media screen and (max-width: 495px) {
    #dw-countdown-widget-container .tick{
        margin-top: 40px!important;
        /*padding-bottom: 150px;*/
    }
    div.col-md-6.row{
        padding-bottom: 120px!important;
    }
    
    .countdown-button {
        float: left;
        width: 100%;
        position: absolute;
        top: 150px;
    }

    #dw-countdown-widget-container {
        margin-top: 40px;
        /*padding-bottom: 150px;*/
        height: 100px;
        z-index: 99999!important;
        /*position: absolute!important;*/
        /*bottom: initial!important;*/

    }
    #countdown-text{
        display: initial;
    }



    #section{
        padding-bottom: 50px;
    }
}