<div class="alert alert-danger" role="alert">
  <h5 class="mt0"><strong>Trang Không Tồn Tại</strong></h5>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Lỗi:</span> Không tìm thấy trang chỉ định 
</div>
