<script src="/top-ad/js/flipclock.js"></script>
<link rel="stylesheet" type="text/css" href="/top-ad/css/cssdowntime.css">
<link rel="stylesheet" type="text/css" href="/top-ad/css/flipclock-light.css">
<link rel="stylesheet" type="text/css" href="/top-ad/css/top-ad-backend.css">

<div  id="dw-countdown-widget-container" ng-style="{'background': colorbackgroup, 'color': colortext}">
    <div  id="countdown-text">{{ titletext }}</div>
    <div class="tick" id="ticker-wrapper"  data-did-init="handleTickInit" data-state="initialised"><div id="ticker"></div>
        <div id="ticker-light"></div></div>
    <a class="countdown-text countdown-button" onclick="goUrl(this)"   id="dw-countdown-widget-container-button" ng-style="{'background-color': colorbtnbackgroup, 'color': colortextbtn}" style="color: rgb(3, 3, 3); background-color: rgb(255, 255, 255);" >{{ buttontext }}</a>
</div>
<script src="/top-ad/js/top-ad-backend.js"></script>


