<ul class="nav nav-tabs nav-justified" ng-controller="MenuController">
  <li ui-sref-active="active" ng-repeat="item in menu.items | orderBy: 'position'">
    <a ui-sref="{{ item.state }}" ui-sref-opts="{reload:true}">{{ item.title }}</a>
  </li>
</ul>
