{% extends 'layout.server.view.html' %}

{% block js %}

{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<section class="scrollable padder vbox-content">
  <section class="panel panel-default clearfix m-b-none">
    <header class="panel-heading bg-light">
      <!--div ng-include="'{{appslugEmbed}}/embed-modules/core/client/views/menu.client.view.html'"></div-->
      <div>Title</div>
    </header>
    <div class="panel-body clearfix">
      <div class="tab-content">
        <div class="tab-pane fade in active">
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}


