<!DOCTYPE html>
<html lang="en" class="app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie8 no-ie10 no-ie11 no-ios">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
  <base href="/">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular-animate/angular-animate.js"></script>
  <script src="/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="/angular-messages/angular-messages.js"></script>
  <script src="/angular-resource/angular-resource.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/angular-ui-tinymce/dist/tinymce.min.js"></script>
  <script src="/angular-ui-utils/ui-utils.js"></script>
  <script src="/async/dist/async.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/ngstorage/ngStorage.js"></script>
  <script src="/lib/jquery-editable-select-master/dist/jquery-editable-select.min.js"></script>
  <script src="/lib/moment/moment.js"></script>
  <!--link rel="stylesheet" type="text/css" href="/lib/jquery-editable-select-master/dist/jquery-editable-select.min.css"-->
  <!--link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"-->

  {% block js %}{% endblock %}
  {% block css %}{% endblock %}
  <!-- Fav Icon -->
  <link href="{{appslugEmbed}}/{{faviconEmbed}}?v={{ appversion }}" rel="shortcut icon" type="image/x-icon">
</head>
<body style="background: #ebeef0;">

<div class="vbox">
  {% block content %}{% endblock %}
</div>

<!--Application JavaScript Files-->




</body>

</html>
