<!DOCTYPE html>
<html lang="en" class="app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie8 no-ie10 no-ie11 no-ios">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
  <base href="/">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Fav Icon -->
  <link href="{{appslugEmbed}}/{{faviconEmbed}}?v={{ appversion }}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssEmbedFiles %}<link rel="stylesheet" href="{{appslugEmbed}}/{{cssFile}}?v={{ appversion }}">{% endfor %}

</head>

<body class="text-center">

<div class="vbox">
  {% block content %}{% endblock %}
</div>

<!--Application JavaScript Files-->

</body>

</html>
