<section>
  <div class="row m-t-sm" loading="dataLoading">
    <div class="col-sm-4" style="height: 500px;">
      <h3 class="m-sm-b20">Cấu hình title</h3>
    </div>
    <div class="col-sm-8">
      <form name="settingForm" ng-submit="update(settingForm.$valid)" accessible-form novalidate>
        <div class="form-group" show-errors>
          <label>Title</label>
          <div class="color-wrapper">
            <div class="has-feedback">
              <input name="title"  type="text" ng-model="setting.title" class="form-control pl40" autocomplete="off" />
            </div>
          </div>
        </div>

        <input type="submit" value="Save Change" class="btn btn-primary">
      </form>
    </div>
  </div>
</section>
